body{
 font-family: 'Meiryo','Yu Gothic';
 background-color:#FBFBEF;
 #border:1px solid #000000;
 padding:16px;
 }

h1{
 font-size:20pt; 
 color: #000000;
 border-width: 0 0 3px 0;
 border-style: solid;
 border-color: #9acd32;
 padding-left: .5ex;
}

h2{
 font-size:16pt;
 margin-left:0.5em;
 color: #000000;
 border-width:0 0 0 0.5em;
 border-style: solid; 
 border-color: #9acd32; 
 padding-left: 0.5em; 
}

h3{
 color: black;
 border-width: 0 0 0 0;
 border-style: solid;
 border-color: ;
 padding-left: 1em;
}

h4{
 color: black;
 border-width: 0 0 0 0;
 border-style: solid;
 border-color: ;
 padding-left: 1em;
}

a{
 font-size:16pt;
 margin-top:30pt;
 color: #000000
}


table, td, th {
font-size:20pt; 
border-collapse: collapse;
border: 0.01em #000000 solid;
padding:8px;
}

th{
 background-color:navy;
 color:white; 
}

td{
 width: 240pt;
 word-break: normal;
 }

td.id{
 width: 60pt;
 word-break: normal;
 }

td.long{
 width:360pt;
 word-break: normal;
 }

